body{
    font-family: monospace;
    background-image: url(../Desafio_2/1966628-resume-rectangle-texture-numerique-fond-de-conception-dynamique-vectoriel.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

legend{
    font-size: xx-large;
    font-style:italic;
    font-weight: bold;
    color:white;
    text-align: center;
}

form {
    
    margin-top: 100px;
    position: absolute;
    background-color: #13293D;
    opacity: 0.8;
}

.dadosGerais {
    display: inline-flex;
  
    
}

.primeiraLinha label, .segundaLinha label, .terceiraLinha label, .quartaLinha label, .quintaLinha label

{
margin-top: 15px;
display: block;
color: white;
font-size: large;
}

.dadosUsuario 
{
    display: block;
    margin-right: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    background: none;
    color: white;
  
}



select option{
    background: #13293D;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button  {
    -webkit-appearance: none;
}



p{
    color: white; 
}

.enviar{
    text-align: center;
    background-color:#13293D;
   

}

input[type=submit]{
    color: white;
    background-color: #13293D;
    opacity: 0.8;
    font-family: monospace;
    font-size: 25px;
    margin-bottom: 5px;
    border-radius: 15px;
}








